{% extends "ValentinStockBundle:Default:_layout.html.twig" %}

{% block main %}
    <h1>Are you sure you want to delete this quantity ?</h1>
    <hr>
    <form method="POST">
        <button class="btn btn-danger" type="submit" style="float: right;">Oui</button>
    </form>
    <a href="{{ path('material_quantity_index') }}" class="btn btn-default">Non</a>
{% endblock %}