{% extends "@ValentinStock/_layout.html.twig" %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('season_index') }}">Seasons</a></li>
        <li class="active"><a href="{{ app.request.uri }}">Edit</a></li>
    </ol>
    <div class="well header-page">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit Season</h2>
            </div>
        </div>
    </div>    {% include('ValentinStockBundle:Season:_form.html.twig') %}
{% endblock %}
