{% extends "ValentinStockBundle:Default:_layout.html.twig" %}

{% block main %}
    <h1>Editer Produit</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" id="submit" value="Editer" />
    {{ form_end(form) }}

{% endblock %}
