{% extends "ValentinStockBundle:Default:_layout.html.twig" %}

{% block main %}
    <h1>Products</h1>


    {% for product in products %}

        <p>{{ product.id }} | {{ product.name }} | {{ product.price }}</p>

    {% endfor %}

    <hr>
    <a href="{{ path('product_add') }}" class="btn btn-primary">Ajouter un produit</a>
{% endblock %}
