{% extends "ValentinStockBundle:Default:_layout.html.twig" %}
{# src/Valentin/SotckBundle/Resources/views/Product/index.html.twig #}

{% block main %}
    <h1>Product</h1>
    {{ form(form) }}
{% endblock %}
