{% extends "ValentinStockBundle:Default:_layout.html.twig" %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('production_index') }}">Productions</a></li>
        <li class="active"><a href="{{ path('production_new') }}">New</a></li>
    </ol>
    <div class="well header-page">
        <div class="row">
            <div class="col-md-12">
                <h2>New Production</h2>
            </div>
        </div>
    </div>
    {% include('ValentinStockBundle:Production:_form.html.twig') %}
{% endblock %}
