{% extends "ValentinStockBundle:Default:_layout.html.twig" %}

{% block main %}
    <h1>Êtes-vous sûr vouloir supprimer "{{ zip.name }}" ?</h1>
    <hr>
    <form method="POST">
        <button class="btn btn-danger" type="submit" style="float: right;">Oui</button>
    </form>
    <a href="{{ path('product_element_index') }}" class="btn btn-default">Non</a>
{% endblock %}