{% extends "ValentinStockBundle:Default:_layout.html.twig" %}

{% block main %}
    <h1>Editer Zip</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <hr>
    <input class="btn btn-success" type="submit" id="submit" value="Editer" style="float: right;"/>
    {{ form_end(form) }}
    <a href="{{ path('product_element_index') }}" class="btn btn-default">Annuler</a>
{% endblock %}
