<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Carostock</title>
    </head>
    <body>
        <header>
            <p>En tete récurrente</p>
        </header>

        {% block main %}
        {% endblock %}

        <footer>
            <p>Pieds de page réccurent</p>
        </footer>
    </body>
</html>
