{% extends "@ValentinStock/_layout.html.twig" %}

{% block main %}

{% if app.user %}
    <div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
    </ol>
    <div class="well header-page">
        <div class="row">
            <div class="col-md-8">
                <h2>Home</h2>
            </div>
        </div>
    </div>

        {% else %}
            <div class="row">
                You are not connected yet, please <a href="{{ path('login') }}">login</a> you before.
            </div>
        {% endif %}
{% endblock %}
